<h1>This is an individual user information</h1>

<h2>John Doe</h2>
<h3>3 posts</h3>
<hr>
<br>
<br>
<h2>Bio</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</p>
<hr>
<br>
<br>

<h3>Post # 1</h3>
<p> adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</p>
<hr>
<br>
<h3>Post # 2</h3>
<p> adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</p>
<hr>
<br>
<h3>Post # 3</h3>
<p> adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</p>
<hr>
<br>
<br>
<br>
<button>See All Post</button>